project_id = "balfktettxtirkzikvwx"

[api]
port = 54321
schemas = ["public", "storage", "graphql"]

[db]
port = 54322

[studio]
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://5dcffda2-b0f3-4025-b3a4-8c9c38ba15d8.lovableproject.com/**", "https://id-preview--5dcffda2-b0f3-4025-b3a4-8c9c38ba15d8.lovable.app/**", "https://preview--sathvik-konda-showcase.lovable.app/**", "https://sathvik-konda-showcase.lovable.app/**"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[auth.mfa]
max_enrolled_factors = 10
[auth.mfa.totp]
enroll_enabled = true
verify_enabled = true
[auth.mfa.phone]
enroll_enabled = false
verify_enabled = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true
secure_password_change = false
max_frequency = "1m0s"
otp_length = 6
otp_expiry = 86400

[auth.sms]
enable_signup = false
